

footer{
    background-color: rgb(50,50,50);
    color: rgb(235,235,235);
    flex: 0 1 auto;
}

footer > *{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

small{
    margin-bottom: 30px;
}

.social-media-links > *{
    display: inline-block;
    font-size: xx-large;
}

.social-media-links > * + *{
    margin-left: 10px;
}
