
.home{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("files/img/bg.jpg");
    background-position: center;
}


.intro{
    padding: 250px 0;
    margin-left: 45%;
    text-align: left;
    color: lightgreen;
    font-size: xx-large;
    font-weight: bold;
}

.typing{
    animation: typer 1s ease-in infinite alternate; 
}

@keyframes appear{
    0%{
        color: lightgreen;
    }
    100%{
        color: white;
    }
}
@keyframes typer{
    0%{
        border-right: 3px solid rgba(144,238,144,255);
    }
    100%{
        border-right: 3px solid rgba(144,238,144,0);
    }
}

