html{
    scroll-behavior: smooth;
}

.projects{
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 50px;
    margin-top: 65px;
    margin-bottom: 70px;
    border-bottom: 5px;
    border-color: white;
}

.section-list{
    position: sticky;
    top: 0;
    background-color: rgb(50,50,50);
}

.links-list{
    position: relative;
    list-style-type: none;
    padding-left: 0;
}

.link{
    font-size: 35px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 990px) {
    .link{
        display: inline-block;
    }
}

.selected, .link:hover, .link.active{
    background-color: #3A3A3A;
}

.selected{
    position: absolute;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 20px;
    z-index: -1;
}

.project{
    padding: 20px 0;
}

.project-background{
    display: block;
    padding-top: 15px;
    height: 512px;
    margin: auto;
}

.project-title{
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
}

.project-subheader{
    padding: 10px 0;
}

.project-title, .project-subheader{
    text-align: center;
}

.project-description{
    font-weight: 550;
    line-height: 2rem;
    margin: 0 10%;
}